@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #4a4c99;
}

body {
    font-family: var(--sm-font);
    background-color: #f5f5f5;
}

/* button */
.bg-primary {
    background-color: var(--pink) !important;
}

/* navbar*/
.navbar {
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    height: 48px;
}

.navbar-brand span {
    letter-spacing: 2px;
    font-family: var(--lg-font);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    border: 0;
    outline: none;
    box-shadow: none;
}

.offcanvas {
    display: none;
}

.btn-close:focus {
    box-shadow: none;

}

.searchMargin {
    margin-top: 20%;
}

/* header */
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 40%;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;

}

/* Our Services */
.services-row {
    border: 1px solid #e4e4e4;
    padding: 10px;
}

.services-item {
    padding: 10px;
}

.services-item i {
    font-size: 35px;
}

.services-item h5 {
    font-size: 15px;
    font-weight: 600;
}

.services-item p {
    font-size: 12px;
}

/* collection */
.title h2::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 30px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.collection-btn {
    border-radius: 25px;
    color: var(--pink) !important;
    border: 1px solid var(--pink);

}

.collection-btn:hover {
    border-radius: 25px;
    color: var(--pink) !important;
    background-color: var(--pink);
    border: 1px solid var(--pink);

}

.active-filter-btn {
    background-color: var(--pink) !important;
    color: #fff !important;
    border-radius: 25px;
    border-color: var(--pink) !important;
}

.filter-button-group .btn:hover {
    color: #fff !important;
}

.collection-img span {
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

/* brand pataner */
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.brand-client {
    overflow: hidden;
    padding: 10px 0;
    white-space: nowrap;
    position: relative;
}

.brand-client::before,
.brand-client::after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.brand-client::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.brand-client::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.brand-client:hover .brand-client-slide {
    animation-play-state: paused;
}

.brand-client-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.brand-client-slide img {
    height: 50px;
    margin: 0 40px;
}

/* special */
.special-img span {
    top: 20px;
    right: 20px;
}

.special-list .btn {
    padding: 8px 20px !important;
}

.special-img img {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.special-img:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* footer */
footer .brand {
    font-family: var(--lg-font);
    letter-spacing: 2px;
}

footer a {
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--pink) !important;
}

/* Top Button*/
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: var(--pink) !important;
    border: none;
    border-radius: 25px;
}

/* brand banner */
.brand-banner-item img {
    height: 200px;
    width: auto;
}

.most_title{
    background-color: var(--pink);
}
.most_title h6{
   color: #fff;
   padding: 15px;
}
.rate i{
    font-size: 10px;
    color: var(--pink);
}

.most_img img{
    width: 90px;
}
.text-category{
    font-size: 15px;
}
.text-name{
    font-size: 12px;
}
.text-price{
    font-size: 15px;
}

/* media query */
@media (max-width: 1980px) {

    .services-item {
        justify-content: center;
    }

    .sideline {
        border-left: 1px solid#e4e4e4;
    }

    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 30%;
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;

    }

    .carousel-caption h5 {
        font-size: 70px;
    }

    .carousel-caption p {
        font-size: 50px;
    }

    .carousel-caption a {
        text-decoration: none;
        color: #fff;
        padding: 0.5rem;
        background-color: var(--pink);
        border-radius: 5px;
        font-size: 30px;
    }

}
@media (max-width: 1388px) {

    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 30%;
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;

    }

    .carousel-caption h5 {
        font-size: 50px;
    }

    .carousel-caption p {
        font-size: 30px;
    }

    .carousel-caption a {
        text-decoration: none;
        color: #fff;
        padding: 0.5rem;
        background-color: var(--pink);
        border-radius: 5px;
        font-size: 20px;
    }

}

@media (max-width: 991px) {
    .offcanvas {
        display: block;
    }

    .services-row {
        padding: 5px 12px;
    }

    .services-item {
        justify-content: start;
    }

    .sideline {
        border-left: none;
    }

    .underline {
        border-bottom: 1px solid#e4e4e4;
    }

    .carousel-caption h5 {
        font-size: 40px;
    }

    .carousel-caption p {
        font-size: 20px;
    }

    .carousel-caption a {
        text-decoration: none;
        color: #fff;
        padding: 0.5rem;
        background-color: var(--pink);
        border-radius: 5px;
        font-size: 20px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: 15%;
    }

}

@media (max-width: 760px) {
    .offcanvas {
        display: block;
    }

    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 15%;
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;

    }

    .carousel-caption h5 {
        font-size: 30px;
    }

    .carousel-caption p {
        font-size: 20px;
    }

    .carousel-caption a {
        text-decoration: none;
        color: #fff;
        padding: 0.5rem;
        background-color: var(--pink);
        border-radius: 5px;
        font-size: 15px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: 25%;
    }


}

@media (max-width: 450px) {
    .offcanvas {
        display: block;
    }

    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 15%;
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;

    }

    .carousel-caption h5 {
        font-size: 20px;
    }

    .carousel-caption p {
        font-size: 15px;
    }

    .carousel-caption a {
        text-decoration: none;
        color: #fff;
        padding: 0.5rem;
        background-color: var(--pink);
        border-radius: 5px;
        font-size: 10px;
    }

}
@media (max-width: 390px) {
    .logo-title{
        font-size: 10px;
    }
}
@media (max-width: 360px) {
    .logo-title{
        display: none;
    }
}

